
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;

    line-height: 1.6;
    font-size: 15px;
    color: 353535;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
                        /* Button */

.btn {
    display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    background-color: 3FA2F6;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

                        /*Intro*/

.intro {
    justify-content: center;
    align-items: center;

    max-width: 100%;
    height: 85vh; /*100% of the visitor's screen*/
    padding: 80px 0;
    overflow: hidden;

    background: url("../images/intro1.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;

    align-items: center;
}

.intro__Lower {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
}

.intro__col {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__col--photo {
    height: 110%;
}

.intro__title {
    font-size: 140px;
    color: 3FA2F6;
    font-weight: 700;
    line-height: 1;
    top: 50px;

    text-transform: uppercase;
    text-align: center;

    position: relative;
}

.intro__photo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

    transform: scale(3);
}

                        /*Infos*/

.infos {
    display: flex;
    position: absolute;
}

.infos__item--first {
    margin-bottom: 80px;
}

.infos__item--second {
    margin-bottom: 80px;
}

.infos__column1 {
    margin-right: 325px;
}

.infos__column2 {
    margin-left: 325px;
}

.infos__item {
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.infos__icon {
    width: 50px;
    margin-bottom: 20px;
}

.infos__text {
    text-align: center;
    margin: 15px auto;
    color: 3FA2F6;
}

.infos__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: 3FA2F6;
}

                    /*Container*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

                        /*Header*/

.header {
    padding: 20px 0;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: 3FA2F6;
}

                        /* NAV*/

.nav {
    text-transform: uppercase;
    font-size: 20px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;

    text-decoration: none;
    color: 3FA2F6;

    transition: color .2s linear;
}

.nav__link:hover {
    color: EBF4F6;  
}

                        /*Work*/

.work {
    display: flex;
}

.work__item {
    flex: 1 1 0;
    text-align: center;
}

.work__title {
    font-weight: 600;
    font-size: 25px;
    margin: 10px auto;
    color: 3FA2F6;
}

.work__suptitle {
    color: 3FA2F6;
}

.work__photo {
    max-width: 300px;
    border: 3px solid deepskyblue;
    border-radius: 30px;
}

                    /*Section*/

.section {
    padding: 80px 0;
}

.section__header {
    text-align: center;
    margin-bottom: 30px;
    color: 3FA2F6;
}

.section__suptitle {
    font-family: cursive;
}

.section__title {
    text-transform: uppercase;
}

                /*Statistic*/

.statistic {
    width: 100%;
    height: auto;

    background: url(../images/statistic.JPG) center no-repeat;
}

.stat {
    display: flex;

    padding: 65px 0;
}

.stat__item {
    flex: 1 1 0;

    text-align: center;
    padding: 0 25px;
}

.stat__icon {
    width: 80px;
}

.stat__title {
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    color: 3FA2F6;
}

.stat__suptitle {
    font-weight: 400;
    font-size: 16px;
    color: 3FA2F6;
}

                        /* Welcome */
.wel {
    padding: 80px 20px;
}

.welcome {
    display: flex;
    align-items: center;
}

.welcome__photo {
    max-width: 50%;
    height: fit-content;
    border-radius: 50px;
    border: 3px solid lightskyblue;
}

.welcome__inner {
    margin: 0 15px;
    color: 3FA2F6;
}

.welcome__suptitle {
    font-weight: 600;

    padding: 0 10px;
}

.welcome__title {
    background-color: 3FA2F6;
    color: white;
    border-radius: 10px;

    padding: 0 10px;
}

.welcome__text {
    color:  6EACDA;
    font-weight: 400;

    padding: 15px 10px;
}

                    /* Parallax */

.par {
    background-image: url('../images/parWallPaper.PNG');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
                    
.par__inner {
    display: flex;
    padding-bottom: 100px;
}
                    
.par__item {
    text-align: center;
    border: 2px solid white;
    border-right: none;
}

.par__item:last-child {
    border-right: 2px solid white;
}

                    
.par__photo {
    width: 100%;
    max-width: 500px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}
                    
.par__text {
    color: white;
    padding: 20px 20px;
}
                    
.par__price {
    color: white;
    font-weight: 300;
    font-size: 70px;
}

                    /* Company */

.company__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.company__item {
    width: 20%;
}
                    
                    /* Video */

.video {
    max-height: 85vh;
    overflow: hidden;
}

.video__inner {
    position: relative;
    padding-bottom: 56.25%;
}

.video__media {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: auto;
}

.video__header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

text-align: center;
    color: white;
}

.video__title {
    line-height: 1;
    font-size: 140px;
    font-weight: 100;
}

.video__suptitle {
    line-height: 1;
    font-weight: 100;
    font-size: 35px;   
}

                        /* Footer */

.footer {
    padding: 100px 20px;
    border-bottom: 1px solid deepskyblue;
}

.footer__inner {
    display: flex;
}

.footer__item {
    color: 3FA2F6;
    margin-right: 20px;
}

.footer__item--first {
    width: 35%;
}

.footer__item--second {
    width: 25%;
}

.footer__item--third {
    width: 15%;
}

.footer__item--fourth {
    width: 25%;
    margin: 0;
}

.footer__title {
    font-weight: 400;
    margin-bottom: 30px;

    background-color: 3FA2F6;
    color: white;
    border-radius: 10px;

    padding: 0 10px;
}

.footer__contacts {
    display: flex;
}

.footer__text {
    font-weight: 200;
    margin-bottom: 15px;
}

.footer__text--first {
    margin-bottom: 30px;
}

.footer__icon {
    width: 30px;
    margin: 0 10px;
    height: fit-content;
}

.footer__socials {
    text-decoration: none;
}

.footer__photo {
    width: 32%;
}

.footer__album {
    align-items: center;
}

.footer__under {
    color: deepskyblue;
    font-weight: 200;
    text-align: center;
    padding: 10px;
}


                    /* MEDIA 1200PX */


@media (max-width: 1200px) {

                 /* Countainer */

    .container {
        max-width: 1100px;
    }

                    /* Intro */

    .intro__title {
        font-size: 120px;
    }

                        /* Work */

    .work__suptitle {
        padding: 0 20px;
    }

                    /* Statistic */

    .stat__title {
        font-size: 15px;
    }

    .stat__suptitle {
        font-size: 13px;
    }

                    /* Welcome */
    
    .welcome__title {
        font-size: 17px;
    }

    .welcome__text {
        font-size: 16px;
    }

                    /* Parallax */

    .par__text {
        font-size: 13px;
    }

                    /* Footer */

    .footer__text {
        font-size: 13px;
    }

    .footer__title {
        font-size: 20px;
    }
}

                    /* MEDIA 990PX */

@media (max-width: 990px) {

                    /* Intro */

    .intro__title {
        font-size: 90px;
        top: 100px;
    }

    .intro__Lower {
        height: 80%;
    }

    .intro__col--photo {
        height: 85%;
    }

                    /* Infos */

    .infos__text {
        display: none;
    }

    .infos__title {
        font-size: 10px;
    }

    .infos__item--first, .infos__item--second {
        margin-bottom: 250px;
    }

                    /* Work */
    .work__item {
        padding: 0 5px;
    }

    .work__photo {
        max-width: 150px;
    }

    .work__title {
        font-size: 20px;
    }

    .work__suptitle {
        font-size: 13px;
    }

                 /* Statistic */
            
    .stat {
        padding: 50px 0;
    }

    .stat__item {
        padding: 0;
    }
    
    .stat__icon {
        width: 60px;
    }

    .stat__suptitle {
        display: none;
    }

                    /* Welcome */


    .welcome__title {
        font-size: 15px;
    }

    .welcome__text {
        font-size: 13px;
    }

    /* Section */
    .section {
        padding: 50px 0;
    }

    .section__header {
        margin-bottom: 0;
    }

    /* Parallax */

    .par__photo {
        height: 150px;
    }

    .par__price {
        font-size: 55px;
    }

    .par__text {
        padding: 10px 10px;
        font-size: 12px;
    }

                /* Video */

    .video__header {
        top: 50%;
    }

    .video__title {
        font-size: 100px;
    }

                    /* Footer */

.footer {
    padding: 50px 20px;
}

.footer__inner {
    display: block;
}

.footer__text {
    display: none;
}

.footer__socials {
    display: none;
}

.footer__contacts {
    display: none;
}

.footer__info {
    display: none;
}

.footer__album {
    display: none;
}
}

.footer__title {
    margin-bottom: 10px;
    font-weight: 500;
    background-color: transparent;
    color: deepskyblue;
    border: 1px solid deepskyblue;
}

.footer__item--first, .footer__item--second, .footer__item--third, .footer__item--fourth {
    width: 100%;
}

                /* MEDIA 700PX */

@media (max-width: 700px) {

                /* NAV */

    .nav {
        display: none;
    }

                /* Intro */

    .intro__title {
        font-size: 80px;
    }

    .intro__Lower {
        height: 85%;
    }

    .intro__photo {
        transform: scale(4);
    }

    .intro__col--photo {
        height: 65%;
    }

                    /* Welcome */

    .welcome__suptitle {
        font-size: 13px;
        padding: 20px 10px 5px;
        font-weight: 400;
    }

    .welcome__title {
        background-color: transparent;
        color: 3FA2F6;
        border: 1px solid deepskyblue;
        font-weight: 500;
    }


    .welcome__text {
        font-size: 0;
    }

    /* Statistic */

    .stat__title {
        font-size: 13px;
    }

                    /* Parralax */

    .par__text {
        display: none;
    }

    .par__item {
        width: 25%;
    }

                    /* Button */

    .btn {
        padding: 10px 15px;
    }

}

                /* MEDIA 575PX */

                /* Header */
    
    .header__logo {
        font-size: 20px;
    }

    @media (max-width: 575px) {

        /* Intro */

    .intro__title {
        font-size: 55px;
        top: 150px;
    }

    .intro__Lower {
        height: 111%;
    }

    .intro__col--photo {
        height: 40%;
    }

                    /* Infos */

    .infos__title {
        font-size: 10px;
    }

                    /* Work */

    .work {
        display: block;
        border: 2px solid deepskyblue;
        border-radius: 50px;
        margin: 0 10px;
    }

    .work__item {
        margin-bottom: 20px;
    }

    .work__item:first-child {
        margin-top: 20px;
    }

                    /* Statistic */

    .stat__title {
        font-size: 9px;
    }

                    /* Welcome */

    .wel {
        padding: 40px 20px;
    }

    .welcome__suptitle {
        font-size: 9px;
    }

    .welcome__title {
        font-size: 11px;
    }

    .welcome__text {
        padding: 5px 10px;
    }

                    /* Secrion */

    .section {
        padding: 30px 0;
    }

                    /* Parallax */

    .par__inner {
        padding-bottom: 50px;
        margin: 0 20px;
    }

    .par__photo {
        height: 100px;
    }

    .par__price {
        font-size: 35px;
    }

                    /* Button */

    .btn {
        padding: 5px 5px;
        margin: 0;
        margin-bottom: 5px;
    }

                    /* Video */

    .video__suptitle {
        font-size: 20px;
    }

    .video__title {
        font-size: 50px;
    }

    /* Footer */

    .footer {
        padding: 30px 20px;
    }

    .footer__title {
        font-size: 15px;
    }

    .footer__under {
        font-size: 12px;
    }

    }
